* {
    box-sizing: content-box;
}

:root {
    --Macondo: 'Macondo', cursive;
    --colorText: rgb(235, 212, 212);
}

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

img {
    max-width: 100%;
    line-height: 0;
}

body {
    background-color: rgb(255, 0, 0);
}

.body__background {
    background: linear-gradient(45deg, #c30343, #ffffff);

    height: 80vh;
}

.boton {
    text-align: center;
    margin-top: 20vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.boton_1 {
    cursor: pointer;

    border: none;
    box-shadow: 10px 10px 20px rgb(52, 48, 48);
    border-radius: 30px;
    padding: 2% 4%;
    font-size: 30px;
    font-family: var(--Macondo);
    background-color: var(--colorText);
    color: rgb(2, 3, 3);
    font-weight: bolder;
}

.text {
    font-family: var(--Macondo);
    font-size: 30px;
    font-weight: bold;
}

.text__content {
    color: yellow;
    text-shadow: 10px 10px 20px black;
}

/* happy */
.reload {
    width: 30px;
    transition: all 1.5s;
    cursor: pointer;
}

.img__gif{
    width: 158px;
}

.sad,
.happy {
    text-align: center;
    margin-top: 25vh;
}


.heart {
    position: absolute;
    z-index: 10;
    width: 30px;
    transition: width 0.1s;
}

.heightVh2{
    height: 75vh;
}

.heightVh{
    height: 100vh;
}


.rotar {
    transform: rotate(360deg);
}


.ocultar {
    display: none;
}